* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: 'Poppins', sans-serif;
  background-color: #F0F0FD;
}

/* Color Palette Definitions */
:root {
  /* Primary Colors */
  --primary-white: #FFFFFF;
  --primary-black-100: #000000; /* 100% */
  --primary-black-60: #666666; /* 60% */
  --primary-black-30: #B3B3B3; /* 30% */
  --primary-black-10: #E6E6E6; /* 10% */

  /* Theme Colors */
  --theme-module3-100: #6563EB; /* 100% */
  --theme-module3-60: #A3A1F3; /* 60% */
  --theme-module3-30: #D1D1F9; /* 30% */
  --theme-module3-10: #F0F0FD;  /* 10% */
  --theme-module3-hover: #2C2B76;  /* hover */

  /* Error Message Colors */
  --error-success-100: #84CF6E; /* 100% */
  --error-success-60: #B5E2A8;  /* 60% */
  --error-success-30: #DBF1D4;  /* 30% */
  --error-success-10: #F3FBF1;  /* 10% */

  --error-failure-100: #F55F5B; /* 100% */
  --error-failure-60: #F99F9D;  /* 60% */
  --error-failure-30: #FCCFCE;  /* 30% */
  --error-failure-10: #FEEFEF;  /* 10% */

  --error-warning-100: #FEA65B; /* 100% */
  --error-warning-60: #FECA9D;  /* 60% */
  --error-warning-30: #FFE5CE;  /* 30% */
  --error-warning-10: #FFF7EF;  /* 10% */

  --error-notification-100: #5AA7FB;  /* 100% */
  --error-notification-60: #9CCAFC; /* 60% */
  --error-notification-30: #CEE5FE; /* 30% */
  --error-notification-10: #EFF7FF; /* 10% */
}
